.App {
  text-align: center;
  background-color: #151B2C;
}

.nav_bar_styling{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #1E2A41;;
  height: 100vh;
  
}

@media (max-width: 600px) {
  .nav_bar_styling {
    width: 100%;
    height: 100%;
    background-color: rgb(10, 13, 13);
  }
}

.text1{
  color: white;
}